.navbar-inverse{
    background-color: #fff!important;
    border: 0!important;
    border-radius: 0!important;
    margin-bottom: 0!important;
}

.navbar-right{
    padding: 5px;
}

.section-annonces{
    height: 800px;
    background-color: aqua;
}