@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');


h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar-inverse{
    background-color: #fff!important;
    border: 0!important;
    border-radius: 0!important;
    margin-bottom: 0!important;
}

.navbar-right{
    padding: 5px;
}

.section-annonces{

    background-color: #fff;
}

.input-name{
    border-radius: 0;
    border: 0;
    background-color: #fff;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background: #fff;
    height: 5rem;
}

.input-text{
    height: 15rem!important;
    border: 0;
    border-radius: 0;
}

.form-group{
    margin-bottom: 0;
}


.btn-envoyer{
    margin-top: 20px;
    padding: 30px 50px;
    line-height: 0;
    text-transform: uppercase;
    border-radius: 0;
}




.btn-lacentrale{
    margin-top: 20px;
    padding: 30px 50px;
    line-height: 0;
    text-transform: uppercase;
    border-radius: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    background:#000;
    padding: 5px 15px;
    text-transform: uppercase;

}

.container-img{
    position: relative;
    color: white;

}

.vendu{
    margin: 0;
    font-size: 1.2em;
    color: #dc2c0b;
}

.quote-lacentrale{
    display: block;
    margin-right: 15%;
    margin-top: 10px;
}








/* Navbar du one page */

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


.lanavbar {
    height: 200px;
    position: fixed;
    top: 0;
    overflow: hidden;
}





/* fin navbar du one page */


.imageonepage {
    background-image: url("../img/onepage1web.jpg");
    height: 1300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -450px;
    width: 100%!important;

}




.title {
    font-size: 3em;
    font-family: 'Trocchi', bold, sans-serif;
    margin-top: 120px;
    margin-left: -140px;
    color: #004EB2!important;
}


@media (min-width: 950px) {
    .container .title {
        width: 700px;
    }
}




/* deuxième partie les annonces */




.titredeux {

    background-color: white!important;
    height: 400px;
    margin-top: -340px;
    background-size: contain;

}


.titredeuxpolice {

    margin-left: 630px;
    font-family: 'Raleway', serif;
    margin-top: 70px;
    font-size: 2.5em;
    color: white!important;
}




.title-section-white{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title-section-black{
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.hr_white{
    width: 10%;
    color: #fff;
    border-top: 2px solid #fff;
}

.hr_black{
    width: 10%;
    color: #000000;
    border-top: 2px solid #000000;
}

.desc-annonces{
    margin: 0;
}




.inscription {

    margin-left: 550px;
    margin-top: 80px;
    height: 200px;
}

.inscription2 {

    margin-top: -35px;
}

.credits{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}


.facebook , .insta, .linkedin{
    text-align: center;
}






.navbar-inverse{
    background-color: #fff!important;
    border: 0!important;
    border-radius: 0!important;
    margin-bottom: 0!important;
}


/* Mon css */

/* Style Navbar css */


.imageone {

    background-size: contain;
}

.premierblock {
    background-color: #022395!important;
}


/* Style Navbar css */




.section-padding{
    padding: 60px 0px;
}



.section-contact {

    background: url(img/bg_contact.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.input{
    padding: 10px;
}

input::placeholder {
    color: #3a3a3a !important;
    padding: 10px;
    font-size: 1.2em!important;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}

textarea::placeholder {
    color: #3a3a3a !important;
    padding: 10px;
    font-size: 1em!important;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}



.couleurstyle {

    background-color: #022395!important;
}

textarea.form-control{
    padding: 0!important;
}


.title-contact{
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 50px 0;
    font-size: 2em;
}




/* Fin Navbar et premier block */





.blockmini {

    margin-top: 10px;

}


.couleursstyles3 {

    background-color: black;


}





.adresse {
    color: white;
    line-height: 0;
    vertical-align: middle;


}


.adressepolice {

    font-size: 1.2em;
    color: #fff;
}


.adresspolicefirst {

    font-size: 2em;
}


.adressepolice2 {

    font-size: 1.2em;
}

.adressepolice3 {

    font-size: 1.2em ;
}



.premeirblockformulaire {

    margin-left: -50px;
}


.finformulaire {

    background-color: #000000;
    height: 100px;
}


.footerbap {
    background-color: black!important;
}



.deplacementréseaux {
    margin-top: 40px;
}


.debutfooter {

    background-color: #202226;
    height: 20px;
}


.annonces-call{
    color: #2c4495;
    line-height: 1.2;
    font-weight: 600;
}





