



html {
    height: 100%;
    background-size: cover; /* version standardisée */
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

}


.navbar-inverse{
    background-color: #fff!important;
    border: 0!important;
    border-radius: 0!important;
    margin-bottom: 0!important;
}




html {
    height: 100%;
    background-size: cover; /* version standardisée */
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;

}



/* Mon css */

/* Style Navbar css */


.imageone {

    background-size: contain;
}

.premierblock {
    background-color: white!important;
}


/* Style Navbar css */


.titreannonces {

    color: black;

}


.titreannonces2 {

    color: #022395;
}


.titrecontact {

    color: white;
}


.hrpremiere {

    height: 2px;
    width: 200px;
}





.couleursstyles2 {

    background-color: #022395;

}

.couleurstyle {

    background-color: white!important;
}







/* Fin Navbar et premier block */





.blockmini {

    margin-top: 10px;

}


.couleursstyles3 {

    background-color: black;


}





.adresse {

    color: white;
}


.adressepolice {

    font-size: 1.2em;

}


.adresspolicefirst {

    font-size: 2em;
}


.adressepolice2 {

    font-size: 1.2em;
}

.adressepolice3 {

    font-size: 1.2em ;
}



.premeirblockformulaire {

    margin-left: -50px;
}


.finformulaire {

    background-color: #000000;
    height: 100px;
}


.footerbap {
    background-color: black!important;
}



.deplacementréseaux {

    margin-top: 80px;
    margin-left: -35px;
}


.debutfooter {

    background-color: #202226;
    height: 20px;
}





/* Section a propos */


.debutsectionpropos {

    background-color: #022395!important;
    height: 60px;
}

.imgapropos {

    background-size: contain;
    width: 1200px;
    border: 10px inset white;

}


.paragraphe {

    margin-top: 50px;

}


.plus {

    width: 250px;

}




/* Section eco */


.titreeco {

    color: black;
}

.hreco {

    color: black;
    width: 200px;
    height: 2px;
}


.debuteco {

    height: 60px;
    background-color: white;
}



.partiearriere {

    background-color: #022395!important;
    width: 500px;
    height: 300px;
    background-size: contain;

}



